USE [master]
GO
/****** Object:  Database [InfoDesignTest]    Script Date: 28/08/2025 06:22:25 p. m. ******/
CREATE DATABASE [InfoDesignTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InfoDesignTest', FILENAME = N'F:\Software\SQL Server Dev Inst\MSSQL16.MSSQLSERVER\MSSQL\DATA\InfoDesignTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InfoDesignTest_log', FILENAME = N'F:\Software\SQL Server Dev Inst\MSSQL16.MSSQLSERVER\MSSQL\DATA\InfoDesignTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InfoDesignTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InfoDesignTest]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/08/2025 06:22:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnergyConsumption]    Script Date: 28/08/2025 06:22:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnergyConsumption](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ServiceLineID] [int] NOT NULL,
	[TimeSegmentID] [int] NOT NULL,
	[Residential] [int] NOT NULL,
	[Commercial] [int] NOT NULL,
	[Industrial] [int] NOT NULL,
 CONSTRAINT [PK_EnergyConsumption] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnergyCost]    Script Date: 28/08/2025 06:22:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnergyCost](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ServiceLineID] [int] NOT NULL,
	[TimeSegmentID] [int] NOT NULL,
	[Residential] [decimal](18, 10) NOT NULL,
	[Commercial] [decimal](18, 10) NOT NULL,
	[Industrial] [decimal](18, 10) NOT NULL,
 CONSTRAINT [PK_EnergyCost] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnergyLoss]    Script Date: 28/08/2025 06:22:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnergyLoss](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ServiceLineID] [int] NOT NULL,
	[TimeSegmentID] [int] NOT NULL,
	[Residential] [decimal](11, 10) NOT NULL,
	[Commercial] [decimal](11, 10) NOT NULL,
	[Industrial] [decimal](11, 10) NOT NULL,
 CONSTRAINT [PK_EnergyLoss] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceLine]    Script Date: 28/08/2025 06:22:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceLine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceLineName] [varchar](25) NOT NULL,
 CONSTRAINT [PK_ServiceLine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSegment]    Script Date: 28/08/2025 06:22:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSegment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TimeSegmentDate] [date] NOT NULL,
 CONSTRAINT [PK_TimeSegment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnergyConsumption_ServiceLineID_TimeSegmentID]    Script Date: 28/08/2025 06:22:26 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EnergyConsumption_ServiceLineID_TimeSegmentID] ON [dbo].[EnergyConsumption]
(
	[ServiceLineID] ASC,
	[TimeSegmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnergyConsumption_TimeSegmentID]    Script Date: 28/08/2025 06:22:26 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EnergyConsumption_TimeSegmentID] ON [dbo].[EnergyConsumption]
(
	[TimeSegmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnergyCost_ServiceLineID_TimeSegmentID]    Script Date: 28/08/2025 06:22:26 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EnergyCost_ServiceLineID_TimeSegmentID] ON [dbo].[EnergyCost]
(
	[ServiceLineID] ASC,
	[TimeSegmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnergyCost_TimeSegmentID]    Script Date: 28/08/2025 06:22:26 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EnergyCost_TimeSegmentID] ON [dbo].[EnergyCost]
(
	[TimeSegmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnergyLoss_ServiceLineID_TimeSegmentID]    Script Date: 28/08/2025 06:22:26 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EnergyLoss_ServiceLineID_TimeSegmentID] ON [dbo].[EnergyLoss]
(
	[ServiceLineID] ASC,
	[TimeSegmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnergyLoss_TimeSegmentID]    Script Date: 28/08/2025 06:22:26 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EnergyLoss_TimeSegmentID] ON [dbo].[EnergyLoss]
(
	[TimeSegmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EnergyConsumption]  WITH CHECK ADD  CONSTRAINT [FK_EnergyConsumption_ServiceLine_ServiceLineID] FOREIGN KEY([ServiceLineID])
REFERENCES [dbo].[ServiceLine] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnergyConsumption] CHECK CONSTRAINT [FK_EnergyConsumption_ServiceLine_ServiceLineID]
GO
ALTER TABLE [dbo].[EnergyConsumption]  WITH CHECK ADD  CONSTRAINT [FK_EnergyConsumption_TimeSegment_TimeSegmentID] FOREIGN KEY([TimeSegmentID])
REFERENCES [dbo].[TimeSegment] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnergyConsumption] CHECK CONSTRAINT [FK_EnergyConsumption_TimeSegment_TimeSegmentID]
GO
ALTER TABLE [dbo].[EnergyCost]  WITH CHECK ADD  CONSTRAINT [FK_EnergyCost_ServiceLine_ServiceLineID] FOREIGN KEY([ServiceLineID])
REFERENCES [dbo].[ServiceLine] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnergyCost] CHECK CONSTRAINT [FK_EnergyCost_ServiceLine_ServiceLineID]
GO
ALTER TABLE [dbo].[EnergyCost]  WITH CHECK ADD  CONSTRAINT [FK_EnergyCost_TimeSegment_TimeSegmentID] FOREIGN KEY([TimeSegmentID])
REFERENCES [dbo].[TimeSegment] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnergyCost] CHECK CONSTRAINT [FK_EnergyCost_TimeSegment_TimeSegmentID]
GO
ALTER TABLE [dbo].[EnergyLoss]  WITH CHECK ADD  CONSTRAINT [FK_EnergyLoss_ServiceLine_ServiceLineID] FOREIGN KEY([ServiceLineID])
REFERENCES [dbo].[ServiceLine] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnergyLoss] CHECK CONSTRAINT [FK_EnergyLoss_ServiceLine_ServiceLineID]
GO
ALTER TABLE [dbo].[EnergyLoss]  WITH CHECK ADD  CONSTRAINT [FK_EnergyLoss_TimeSegment_TimeSegmentID] FOREIGN KEY([TimeSegmentID])
REFERENCES [dbo].[TimeSegment] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnergyLoss] CHECK CONSTRAINT [FK_EnergyLoss_TimeSegment_TimeSegmentID]
GO
USE [master]
GO
